---
import { Cloudinary } from "@cloudinary/url-gen";
import { fit } from '@cloudinary/url-gen/actions/resize';

import Layout from '../layouts/Layout.astro';
import _data from './data.json';

const cloudinary = new Cloudinary({
	cloud: { cloudName: 'istoty' }
});

const data = _data.map(({ id, title, coverImage }) => ({
	id,
	title,
	href: `/istoty/title/${id}`,
	src: cloudinary.image(coverImage)
		.resize(fit().width(800))
		.toURL(),
}));
---
<Layout>
	<section class="splide">
		<div class="splide__track">
			<ul class="splide__list">
				{data.map(({ title, href, src }) => (
					<li class="splide__slide">
						<a href={href}>
							<img src={src} />
							<div class="caption">{title}</div>
						</a>
					</li>
				))}
			</ul>
		</div>
	</section>
</Layout>

<script>
    import Splide from '@splidejs/splide';
    import '@splidejs/splide/css';

    new Splide('.splide', {
		arrows: false,
		drag: true,
		gap: 'var(--margin-vertical)',
		padding: { left: 'var(--margin-horizontal)' },
		releaseWheel: true,
		rewind: true,
		wheel: true,
		wheelSleep: 250,
        autoWidth: true,
        focus: 'center',
        pagination: false,
    }).mount();
</script>

<style>
	section {
		margin: var(--margin-vertical) 0;
		flex-grow: 1;
		display: flex;
		align-items: center;
	}

	img {
		height: 44vh;
	}

	.caption {
		margin-top: 1em;
		font-style: italic;
	}
</style>
