---
import { getCollection } from 'astro:content';
import { Cloudinary } from "@cloudinary/url-gen";
import { fit } from '@cloudinary/url-gen/actions/resize';

import Layout from '../layouts/Layout.astro';

const cloudinary = new Cloudinary({
	cloud: { cloudName: 'istoty' }
});

const collection = await getCollection('projects');

const entries = collection
	.sort((a, b) => a.data.homeOrder - b.data.homeOrder)
	.map(({ id, data: { title, homeImage } }) => ({
		id,
		title,
		href: `/istoty/projects/${id}`,
		src: cloudinary.image(homeImage)
			.resize(fit().width(800))
			.toURL(),
	}));
---
<Layout>
	<section class="splide">
		<div class="splide__track">
			<ul class="splide__list">
				{entries.map(({ title, href, src }) => (
					<li class="splide__slide">
						<a href={href}>
							<img src={src} />
							<div class="caption">{title}</div>
						</a>
					</li>
				))}
			</ul>
		</div>
	</section>
</Layout>

<script>
    import Splide from '@splidejs/splide';
    import '@splidejs/splide/css';

    new Splide('.splide', {
		arrows: false,
		drag: true,
		gap: 'var(--margin-vertical)',
		padding: { left: 'var(--margin-horizontal)' },
		releaseWheel: true,
		rewind: true,
		wheel: true,
		wheelSleep: 250,
        autoWidth: true,
        focus: 'center',
        pagination: false,
    }).mount();
</script>

<style>
	section {
		margin: var(--margin-vertical) 0;
		flex-grow: 1;
		display: flex;
		align-items: center;
	}

	img {
		height: 44vh;
	}

	.caption {
		margin-top: 1em;
		font-style: italic;
	}
</style>
