---
const { page } = Astro.props;
const home = 'EWA WRÓBLEWSKA';
const title = [page, home].filter(Boolean).join(' | ');
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<header>
			<h1>
				<a href="/istoty">EWA<br/>WRÓBLEWSKA</a>
			</h1>
		</header>
		<main>
			<slot />
		</main>
	</body>
</html>

<style is:global>
	@import url('https://fonts.cdnfonts.com/css/memogram');

	:root {
		--margin-vertical: 2rem;
		--margin-horizontal: 4rem;
	}
	body {
		margin: 0;
		padding: 0;
		min-height: 100vh;
		overflow-x: hidden;
		overflow-y: auto;
		font-family: 'Memogram', sans-serif, system-ui;
		background-color: #F6F6F6;
		display: flex;
		flex-direction: column;
	}
	header {
		margin: var(--margin-vertical) var(--margin-horizontal);
		flex-shrink: 0;
	}
	main {
		flex-grow: 1;
		display: flex;
		flex-direction: column;
	}
	h1 {
		margin: 0;
	}
	a {
		color: inherit;
		text-decoration: none;
	}
</style>
